Repository antoninguerre/PostalRateCalculator, pull requests merged in 2021-11, with the labels that each got.

#26 Modified tests to check that the message is correct
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/service/EnvelopeServiceTest.java
Labels: backend, testing

#16 Created main page for the user interface
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/controller/EnvelopeController.java
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/dto/EnvelopeDTO.java
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/service/EnvelopeService.java
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/controller/EnvelopeControllerTest.java
  PostalRateCalculator-Frontend/build/dev-server.js
  PostalRateCalculator-Frontend/config/index.js
  PostalRateCalculator-Frontend/index.html
  PostalRateCalculator-Frontend/package-lock.json
  PostalRateCalculator-Frontend/package.json
  PostalRateCalculator-Frontend/src/App.vue
  PostalRateCalculator-Frontend/src/assets/bannerLogo.png
  PostalRateCalculator-Frontend/src/assets/logo.png
  PostalRateCalculator-Frontend/src/components/PostalRateCalculator.vue
  PostalRateCalculator-Frontend/src/components/Test.vue
  PostalRateCalculator-Frontend/src/main.js
  PostalRateCalculator-Frontend/src/router/index.js
Labels: enhancement, frontend

#28 Modified tests to check that the syntax error message is correct
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/service/EnvelopeService.java
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/controller/EnvelopeControllerTest.java
Labels: enhancement, backend, testing

#29 Changed weight tests to include error message comparison.
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/service/EnvelopeService.java
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/service/EnvelopeServiceTest.java
Labels: enhancement, backend, testing

#31 Connected controller and service methods
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/controller/EnvelopeController.java
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/service/EnvelopeService.java
Labels: enhancement, backend

#33 Created tests and methods to check unit syntax
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/controller/EnvelopeController.java
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/controller/EnvelopeControllerTest.java
  PostalRateCalculator-Frontend/src/components/PostalRateCalculator.vue
Labels: enhancement, backend, testing

#34 calculatePostalRate method for standard
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/service/EnvelopeService.java
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/controller/EnvelopeControllerTest.java
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/service/EnvelopeServiceTest.java
Labels: enhancement, backend

#35 complete postal rate method (and refactored)
  PostalRateCalculator-Backend/src/main/java/PostalRateCalculator/service/EnvelopeService.java
  PostalRateCalculator-Backend/src/test/java/PostalRateCalculator/service/EnvelopeServiceTest.java
Labels: enhancement, backend
